*{
	margin:0px;
	padding:0px;
}
body
{
	padding-top:10px;
}
nav{
	height: 45px;
	width:100%;
}
nav ul{
	list-style-type: none;		
	margin-left:0px;
}
#admin{	
	position:absolute;
	left:960px;
    background-color:#79797c;
	border:3px solid #79797c;
	border-radius:5px;
}
#about{	
	position:absolute;
	left:1100px;
	background-color:#79797c;
	border:3px solid #79797c;
	border-radius:5px;
}
li a{
	padding:8px;
	text-decoration:none;
	color:white;
}
li a:hover{
	padding:8px;
	text-decoration:none;
	color:white;
}
li a:visited{
	padding:8px;
	text-decoration:none;
	color:white;
}
#mycreation{
    margin:0px;
}
.homeImg{
    padding-top:0px;
    padding-left:39px;
	padding-bottom:0px;
	padding-right:0px;
    height:85%;
    width:95%;
}

#see{
	position:absolute;
	top:550px;
	left:400px;
}
#make{
	position:absolute;
	top:550px;
	left:625px;
}
