*{
	margin:0;
	padding:0;
}
body
{
	padding-top:20px;
}
#admin{
	position:inline;
	margin-left:500px;
	background:grey;
	padding:2px;
}
#about{
	position:inline;
	margin-left:20px;
	background:grey;
	padding:2px;
}
#mycreation{
    margin=5px;
}
.homeImg{
    padding:20px;
    padding-left:35px;
    height:600px;
    width:1230px;
}
.fa{
 color:bisque;   
}
.fa-angle-left{
    position:absolute;
    left:50px;
    top:350px;
}
.fa-angle-right{
    position: absolute;
    top:350px;
    right:50px;
    left:1220px;
}
#i1{
    position:absolute;
    top:620px;
    left:590px;
}
#i2{
    position:absolute;
    top:620px;
    left:606px;
}
#i3{
    position:absolute;
    top:620px;
    left:622px;
}