*{
	box-sizing:border-box;
    margin:0px;
	padding:0px;
}
body
{
	padding-top:10px;
}
nav{
    margin-top:10px;
    margin-bottom:10px;
	height: 45px;
	width:100%;
}
/*#admin{	
    float:right;
    padding:5px;
    background-color:#79797c;
	border:3px solid #79797c;
	border-radius:5px;
}*/
#about{	
    float:right;
	margin-left:25px;
    margin-right:5%;
    padding:5px;
	background-color:#79797c;
	border:3px solid #79797c;
	border-radius:5px;
}
span a{
	padding:8px;
	text-decoration:none;
	color:white;
}
span a:hover{
	padding:8px;
	text-decoration:none;
	color:white;
}
span a:visited{
    padding:8px;
	text-decoration:none;
	color:white;
}
#mycreation{
    width:100%;
}
.homeImg{
    padding-top:0px;
    padding-left:39px;
	padding-bottom:0px;
	padding-right:0px;
    height:85%;
    width:95%;
}

#see{
	position:absolute;
	top:81%;
	left:30%;
}
#make{
	position:absolute;
	top:81%;
	left:48%;
}
#confessions{
    position:relative;
    display:block;
    margin-top: 70px;
    margin-left:35px;
    margin-right:35px;
}
.conf{
    position:relative;
    display:block;
    margin-bottom:20px;
    width:95%;
    min-height:100px;
    border:3px solid rgba(88, 62, 126, 0.2);
    border-radius:10px;
    background-color: rgba(88, 62, 126, 0.2);
}
.messageno{
    position:relative;
    display:block;
    margin-left:8px;
    margin-top:5px;
}
.message{
    position:relative;
    display:block;
    margin-left:8px;
    margin-right:8px;
    margin-top:5px;
    margin-bottom:15px;
    min-height:100px;	
	border:3px solid #79797c;
    border-radius:10px;
    background-color: #79797c;
    color:beige;
    opacity:0.85;
}

.fa-quote-left{
    margin-left:10px;
    margin-right:8px;
    margin-top:8px;
}
.orimess{
    margin-top:8px;
}
.fb-like{
    margin-left:8px;
}
