*{
	box-sizing:border-box;
    margin:0px;
	padding:0px;
    font-size:12px;
}
#main{
    position:absolute;
    top:2%;
    left:0%;
    right:1%;
    padding:15px 15px;
    background-color: rgba(88, 62, 126, 0.2);
    border: 1px solid rgba(86, 61, 124, .2);
}
#reqd{
    margin-bottom: 20px;
}
.input{
    margin-bottom:20px;
}
.input .inpf{
    padding: 6px 12px;
}
#submission{
    margin-top:20px;
    margin-left:12px;
}
.g-recaptcha{
    transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;
    }
table.mceLayout, textarea.tinyMCE {
    width: 100%;
}
@media only screen and (min-width:400px){
    #main{
        left:1%;
    }
}
@media only screen and (min-width:500px){
    *{
        font-size:15px;
    }
     table.mceLayout, textarea.richEditor {
       width: 600px;
    }
}
@media only screen and (min-width:600px){
    #main{
        left:2%;
        right:2%;
    }
    table.mceLayout, textarea.richEditor {
       width: 600px;
    }
}
@media only screen and (min-width:768px){
    *{
        font-size:18px;
    }
    #main{
        left:5%;
        right:5%;
    }
    table.mceLayout, textarea.richEditor {
       width: 600px;
    }
} 
@media only screen and (orientation:landscape and max-height:400px){
    #main{
        top:2%;
    }
}