*{
margin: 0%;
 padding: 0%;
 background-color:lightblue;
 }
 img
 {
padding-top:2%;
}
 
div.fixed {
background-color:  white; 
 padding: 0%;
 position: fixed;
 bottom: 0;
 width: 100%;
 border: 3px solid black;
}
p{
padding-left: 2%;
color: #7b4200
}
#fb
{
padding-right: 1%;
}
.logo
{
padding-left: 1%;
}
